<h2>Products</h2>

<!-- *ngFor creates a div for each product in products -->
<!-- double curly braces render the property value as text -->
<!-- Square brackets are property binding syntax -->
<div *ngFor="let product of products">
  <h3>
    <a
      href=""
      [title]="product.name + ' details'"
      [routerLink]="['/products', product.id]"
    >
      {{ product.name }}
    </a>
  </h3>
  <!-- *ngIf only creates the <p> element if the current product has a description -->
  <p *ngIf="product.description">Description: {{ product.description }}</p>
  <button (click)="share()">Share</button>
  <app-product-alerts
    [product]="product"
    (notify)="onNotify()"
  ></app-product-alerts>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
